<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alexander_Badrishvili_4108_final.Properties.Settings.APOTHIKI_4108ConnectionString"
            connectionString="Data Source=DESKTOP-JL4BPLI\WORKSTATIONSQL;Initial Catalog=APOTHIKI_4108;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>